.modificacion{
    padding: 0 0 10px 0;
    h6{
        margin: 0;
    }
}

.nombre{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin: 3vh 0;
}

.userImg{
    border-radius: 15px;
    max-width: 300px;
    &.desktop{
        max-width: 200px;
    }
}

.fecha{
    display: block;
    margin: 3vh auto;
}

.sexIcon{
    font-size: 1.2em;
    &.male{color: rgb(82, 176, 207);}
    &.female{color: rgb(176, 67, 85);}
}