<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Paint&Point S.L.
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <ion-grid>
    <ion-row *ngIf="!desktop">
      <ion-col size="12" size-sm="6" size-xl="3">
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="getPopulation()" class="searchBar"
          placeholder="Buscar por nombre, año, fecha o ubicación"></ion-searchbar>
        <ion-grid *ngIf="personList">
          <ion-row *ngFor="let person of personList">
            <ion-col (click)="openCard(person)">
              <app-person-card [person]="person"></app-person-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-infinite-scroll *ngIf="itemsLeft" (ionInfinite)="loadMoreCards($event)" position="bottom">
          <ion-infinite-scroll-content loadingSpinner="bubbles"
            loadingText="Cargando más datos..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="desktop">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="getPopulation()" class="searchBar"
      placeholder="Buscar por nombre, año, fecha o ubicación"></ion-searchbar>
      <ion-col size="6" size-md="6" size-lg="3" (click)="openCard(person)" *ngFor="let person of personList">
        <app-person-card [person]="person"></app-person-card>
      </ion-col>
      <ion-infinite-scroll *ngIf="itemsLeft" (ionInfinite)="loadMoreCards($event)" position="bottom">
        <ion-infinite-scroll-content loadingSpinner="bubbles"
          loadingText="Cargando más datos..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>
  <div class="empty" *ngIf="maxItems === 0">
    <ion-icon class="ice-cream" name="ice-cream-outline"></ion-icon>
    <p>Sin resultados</p>
  </div>

  <ion-item class="ion-no-border no-border-bottom">
    <ion-label class="ion-no-border no-border-bottom">
      <p *ngIf="!searching">{{maxItems}} resultados</p>
      <p *ngIf="searching">Filtrando, {{maxItems}} resultados</p>
    </ion-label>
  </ion-item>
</ion-footer>